/* Add here all your css styles (customizations) */
.img-logo
{
    max-width: 70px;
    max-height: 60px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.bg-main{
    background: linear-gradient(133deg,#ed1b23,#2e3091,#253494) !important;
}

div.media {
    justify-content: center;
}

form.form-search-brand .twitter-typeahead {
    width: 100%;
}

form.form-search-brand .tt-menu {
    width: 100%;
}