/* Add here all your css styles (customizations) */
.img-logo
{
    max-width: 70px;
    max-height: 60px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.bg-main{
    background: linear-gradient(133deg,#ed1b23,#2e3091,#253494) !important;
}

div.media {
    justify-content: center;
}

form.form-search-brand .twitter-typeahead {
    width: 100%;
}

form.form-search-brand .tt-menu {
    width: 100%;
}

/**
* Modal popup bounce down animation
*/
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
}
 @keyframes bounce { 
    0% {transform: translateY(-25%);}
    20% {transform: translateY(15%);}
    40% {transform: translateY(-15%);}
    60% {transform: translateY(5%);}
    80% {transform: translateY(-5%);}
    100% {transform: translateY(0%);}
}